server {
  listen 80;
  server_name keymaster.sjodle.com www.keymaster.sjodle.com;

  location / {
    root /www/keymaster/static;
    index index.html;
  }

  location /i/ {
    include uwsgi_params;
    uwsgi_pass unix:/www/keymaster/keymaster.sock;
  }
}
