server {
  listen 80;
  server_name keymaster.sjodle.com www.keymaster.sjodle.com;

  location /k {
    include uwsgi_params;
    uwsgi_pass unix:/www/keymaster/keymaster.sock;
    uwsgi_intercept_errors on;
  }

  location / {
    root /www/keymaster/static;
    index index.html;
  }

  error_page 403 /errors/403.html;
  error_page 404 /errors/404.html;
  error_page 405 /errors/405.html;
  error_page 500 501 502 503 504 /errors/405.html;

  location ^~ /errors/ {
    internal;
    root /www/keymaster/static;
  }
}
