<!DOCTYPE html>
<html>
<head>
  <title>Your SSH key on Keymaster</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <style>
    #services_list {
      list-style: none;
    }
    #services_list img {
      height: 2em;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="jumbotron">
    <h1><a href="/">Keymaster</a></h1>
  </div>
  <div>
    <p>
      Your public key is:
    </p>
    <p class="well" style="overflow: auto;">
      {{ public_key }}
    </p>
  </div>
  <div>
    <h3>Install your key:</h3>
    <ul id="services_list">
      {% for service_id, service in services.iteritems() %}
        {% if service.logo == '' %}
          <li><a target='_blank' href="{{ url_for('install_key', key_id=key_id, service=service_id) }}">{{ service.name }}</a></li>
        {% else %}
          <li><a target='_blank' href="{{ url_for('install_key', key_id=key_id, service=service_id) }}"><img src="{{ service.logo }}" alt="{{ service.name }}" title="{{ service.name }}"></a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <hr>
  <p>
    This page expires in {{ expires_in }}.
  </p>
  <div class="row">
      <form class='form form-inline col-md-6' action="{{url_for('extend_key', key_id=key_id)}}" method="post">
        <button type="submit" class="btn btn-default">Extend by 30 minutes</button>
      </form>
      <form class='form form-inline col-md-6' action="{{url_for('expire_key', key_id=key_id)}}" method="post">
        <button type="submit" class="btn btn-danger">Expire immediately</button>
      </form>
  </div>
</div>
</body>
<script src='/bower_components/jquery/dist/jquery.min.js'></script>
<script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
</html>
